<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        .header { background-color: #095f26; padding: 10px; color: white; }
    </style>
</head>
<body>
    <div class="header">
        <h1>Hola mundo</h1>
    </div>
    
</body>
</html>